<div class="my-container mx-auto">
   <section class="m-3 p-4 border border-dark my-rounded-corner">
      <h4 class="w-25 border border-secondary text-center py-2 my-rounded-corner">Payment Info</h4>
      <table class="table w-50 mx-auto table-bordered table-hover my-shadow">
         <tbody>
            <tr>
               <td>Total Items</td>
               <td class="fs-5 fw-bold">5</td>
            </tr>
            <tr>
               <td>Total Price</td>
               <td class="fs-5 fw-bold text-danger">10,000</td>
            </tr>
            <tr>
               <td>Shipping Charges</td>
               <td class="fs-5 fw-bold text-danger">1,000</td>
            </tr>
            <tr>
               <td>Discount</td>
               <td class="fs-5 fw-bold text-success">200</td>
            </tr>
            <tr>
               <td>You Have to Pay</td>
               <td class="fs-5 fw-bold text-success">10,800</td>
            </tr>
         </tbody>
      </table>
   </section>

   <section class="m-3 p-4 border border-dark my-rounded-corner">
      <h4 class="w-25 border border-secondary text-center py-2 my-rounded-corner">Payment Method</h4>
      <div class="d-flex justify-content-center align-items-center">
         <h5 class="me-4">Select any Method</h5>
         <select class="form-select w-25" [formControl]="selectedPaymentMethod">
            <option value="0">Open this select menu</option>
            <option *ngFor="let paymentMethod of [1,2,3]" value="{{ paymentMethod }}">
               option
            </option>
         </select>
      </div>
   </section>

   <section class="m-3 p-4 border border-dark my-rounded-corner">
      <h4 class="w-25 border border-secondary text-center py-2 my-rounded-corner">Proceed to Payments</h4>
      <div class="mt-4 w-50" *ngIf="selectedPaymentMethodName !== ''" >
         <table class="table table-bordered my-shadow">
            <thead>
               <tr>
                  <td>You have to Pay</td>
                  <td>10,500</td>
               </tr>
               <tr>
                  <td>Payment Method</td>
                  <td>PayCoin</td>
               </tr>
               <tr>
                  <td>Address</td>
                  <td *ngIf="true">My address will go here! <a routerLink="/account-settings">Change</a> </td>
                  <td *ngIf="!true" >
                     You have not entered address.
                     <a routerLink="/account-settings">Please Enter that</a>
                  </td>
               </tr>
               <tr>
                  <td>Mobile Number</td>
                  <td *ngIf="true">7756873891 <a routerLink="/account-settings">Change</a> </td>
                  <td *ngIf="!true" >
                     You have not entered Mobile Number.
                     <a routerLink="/account-settings">Please Enter that</a>
                  </td>
               </tr>
            </thead>
         </table>

         <div class="d-grid w-50">
            <button type="button" class="btn btn-outline-success mb-4">Pay</button>
         </div>

         <div class="processing">
            <div class="spinner-border me-4" role="status" *ngIf="true">
               <span class="visually-hidden">Loading ...</span>
            </div>
            <h6 class="m-0">error</h6>
         </div>
      </div>
   </section>

   <div *ngIf="!false" class="pt-4">
      <h2>You have not Logged In</h2>
   </div>

</div>